# Ignore everything 
*

# Allow specific code-related file types
!*.py
!*.sql
!*.java
!*.arff
!*.ipynb
!*.scala
!*.md
!*.txt

# Allow directories
!*/

# Ensure .gitignore is always tracked
!.gitignore